/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

/* COLORS */
$white: hsl(0, 0%, 100%);

$stone100: hsl(30, 54%, 90%);
$stone150: hsl(30, 18%, 87%);
$stone600: hsl(30, 10%, 34%);
$stone900: hsl(24, 5%, 18%);

$brown800: hsl(14, 45%, 36%);

$rose800: hsl(332, 51%, 32%);
$rose50: hsl(330, 100%, 98%);

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $stone100;
  color: $stone600;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 123px auto;
}

.recipe {
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: $white;
  border-radius: 1rem;

  section {
    margin: 2rem 0;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 300px;
      border-radius: 0.5rem;
    }
  
    h1, h2 {
      font-family: "Young Serif", serif;
      font-weight: 400;
    }
    
    h1 {
      font-size: 2rem;
      margin-top: 2.5rem;
      letter-spacing: 2px;
    }
    
    h2 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      color: $brown800;
    }

    ul, ol {
      list-style-position: inside;
    }

    ul {
      list-style: none;

      li {
        position: relative;
        padding-left: 2rem;

        &::before {
          content: "•";
          position: absolute;
          left: 0.5rem;
          color: $brown800;
          line-height: 1.5;
          font-size: 1rem;
        }
      }
    }

    ol {
      list-style: none;

      li {
        position: relative;
        padding-left: 2rem;
        counter-increment: item;

        &::before {
          content: counter(item) ". ";
          position: absolute;
          top: 0;
          left: 0;
          font-size: 1rem;
          color: $brown800;
          font-weight: 700;
          display: inline-block;
          padding-right: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}

.recipe section:first-child {
  margin-top: 0;
}

.recipe section:last-child {
  margin-bottom: 0;
}


